<h1> Household Income in PA </h1>

In [6]:
import pandas as pd

In [7]:
##Here, we are reading the data from the csv file
income = pd.read_csv("income.csv", sep=",")

##Here, we are making a seperate dataframe that contains just the Neighborhoods and the number of high income households
money = income[["Neighborhood", "Estimate; Total: - $200,000 or more"]]

##This throws out all of the NaN values in the dataframe and converts it to a csv file
money = money.dropna()
money.to_csv("money.csv", index=False)

money.sort_values(by="Estimate; Total: - $200,000 or more", ascending=False)

                 Neighborhood  Estimate; Total: - $200,000 or more
76        Squirrel Hill North                                935.0
77        Squirrel Hill South                                821.0
68                  Shadyside                                559.0
63               Point Breeze                                482.0
16  Central Business District                                364.0
..                        ...                                  ...
43                  Knoxville                                  0.0
49         Marshall-Shadeland                                  0.0
50                Middle Hill                                  0.0
55              New Homestead                                  0.0
90                    Windgap                                  0.0

[91 rows x 2 columns]

<h2> What does this mean? </h2>

The data above shows us that Squirrel Hill North has the most households in Allegheny County, PA that have a high income. 

The data also shows us that Windgap, New Homestead, and Middle Hill have the lowest amount of households in Allegheny County that have a high income.

We can conclude that Squirrel Hill North is the neighborhood that would have the most disposable income to spend on drugs. 

The location and income data will be used in our final formula to calculate the best location to do drugs in Allegheny County.