In [9]:
import pandas as pd 
import numpy as np

deaths = pd.read_csv('Multiple Cause of Death, 1999-2014.csv')

#Rename the columns to replace spaces with underscores
for each in deaths.columns:
    deaths = deaths.rename(columns={each: each.replace(" ", "_")})

In [10]:
#Clean the data and convert to nums
for index, each in deaths.iterrows():
    if each["Deaths"] == "Suppressed" or each ["Crude_Rate"] == "Unreliable":
        deaths = deaths.drop(index)

deaths["Deaths"] = pd.to_numeric(deaths["Deaths"], errors = 'raise')
deaths["Crude_Rate"] = pd.to_numeric(deaths["Crude_Rate"], errors = 'raise')

In [11]:
#Find all states and years where deaths were greater than 2000
states = deaths[deaths["Deaths"] > 2000]["State"] 
year = deaths[deaths["Deaths"] > 2000]["Year"]
deathsOver2000 = pd.concat([states, year], axis = 1)
print(deathsOver2000.to_string(index = False) + "\n") #ONLY show the State and Year columns

     State  Year
California  2009
California  2010
California  2011
California  2013
California  2014
      Ohio  2014

In [12]:
#Find total number of deaths for each state
totalDeaths = deaths.groupby("State")["Deaths"].sum().reset_index(name="Total")
print(totalDeaths.to_string(index = False) + "\n")

               State  Total
             Alabama   2173
              Alaska    644
             Arizona   7298
            Arkansas   2178
          California  27044
            Colorado   5155
         Connecticut   3755
            Delaware   1091
District of Columbia    693
             Florida  19919
             Georgia   6052
              Hawaii    955
               Idaho    971
            Illinois  13072
             Indiana   3758
                Iowa   1642
              Kansas   1794
            Kentucky   6283
           Louisiana   2419
               Maine   1589
            Maryland   9403
       Massachusetts   9923
            Michigan   8748
           Minnesota   3158
         Mississippi   1048
            Missouri   6460
             Montana    752
            Nebraska    576
              Nevada   5954
       New Hampshire   1859
          New Jersey   6961
          New Mexico   4002
            New York  16156
      North Carolina  10413
        North Dakota     66
                Ohio  13623
            Oklahoma   5926
              Oregon   4933
        Pennsylvania   9304
        Rhode Island   1847
      South Carolina   3165
        South Dakota    316
           Tennessee   7467
               Texas  15050
                Utah   5165
             Vermont    768
            Virginia   7210
          Washington   9528
       West Virginia   4982
           Wisconsin   5400
             Wyoming    359

In [13]:
#All states that start with the letter A
aStates = deaths[deaths["State"].str.startswith("A")] 
print(aStates.to_string(index = False) + "\n")

   State  Year  Deaths  Population  Crude_Rate Crude_Rate_Lower_95%_Confidence_Interval Crude_Rate_Upper_95%_Confidence_Interval
 Alabama  1999      39     4430141         0.9                                      0.6                                      1.2
 Alabama  2000      46     4447100         1.0                                      0.8                                      1.4
 Alabama  2001      67     4467634         1.5                                      1.2                                      1.9
 Alabama  2002      75     4480089         1.7                                      1.3                                      2.1
 Alabama  2003      54     4503491         1.2                                      0.9                                      1.6
 Alabama  2004      92     4530729         2.0                                      1.6                                      2.5
 Alabama  2005      83     4569805         1.8                                      1.4                                      2.3
 Alabama  2006     134     4628981         2.9                                      2.4                                      3.4
 Alabama  2007     172     4672840         3.7                                      3.1                                      4.2
 Alabama  2008     195     4718206         4.1                                      3.6                                      4.7
 Alabama  2009     210     4757938         4.4                                      3.8                                        5
 Alabama  2010     194     4779736         4.1                                      3.5                                      4.6
 Alabama  2011     180     4802740         3.7                                      3.2                                      4.3
 Alabama  2012     175     4822023         3.6                                      3.1                                      4.2
 Alabama  2013     175     4833722         3.6                                      3.1                                      4.2
 Alabama  2014     282     4849377         5.8                                      5.1                                      6.5
  Alaska  1999      28      624779         4.5                                        3                                      6.5
  Alaska  2000      27      626932         4.3                                      2.8                                      6.3
  Alaska  2006      29      675302         4.3                                      2.9                                      6.2
  Alaska  2008      94      687455        13.7                                       11                                     16.7
  Alaska  2009      94      698895        13.4                                     10.9                                     16.5
  Alaska  2010      71      710231        10.0                                      7.8                                     12.6
  Alaska  2011      72      722718        10.0                                      7.8                                     12.5
  Alaska  2012      81      731449        11.1                                      8.8                                     13.8
  Alaska  2013      69      735132         9.4                                      7.3                                     11.9
  Alaska  2014      79      736732        10.7                                      8.5                                     13.4
 Arizona  1999     250     5023823         5.0                                      4.4                                      5.6
 Arizona  2000     249     5130632         4.9                                      4.3                                      5.5
 Arizona  2001     275     5273477         5.2                                      4.6                                      5.8
 Arizona  2002     340     5396255         6.3                                      5.6                                        7
 Arizona  2003     350     5510364         6.4                                      5.7                                        7
 Arizona  2004     360     5652404         6.4                                      5.7                                        7
 Arizona  2005     393     5839077         6.7                                      6.1                                      7.4
 Arizona  2006     479     6029141         7.9                                      7.2                                      8.7
 Arizona  2007     490     6167681         7.9                                      7.2                                      8.6
 Arizona  2008     515     6280362         8.2                                      7.5                                      8.9
 Arizona  2009     625     6343154         9.9                                      9.1                                     10.6
 Arizona  2010     650     6392017        10.2                                      9.4                                       11
 Arizona  2011     596     6482505         9.2                                      8.5                                      9.9
 Arizona  2012     565     6553255         8.6                                      7.9                                      9.3
 Arizona  2013     545     6626624         8.2                                      7.5                                      8.9
 Arizona  2014     616     6731484         9.2                                      8.4                                      9.9
Arkansas  1999      29     2651860         1.1                                      0.7                                      1.6
Arkansas  2000      20     2673400         0.7                                      0.5                                      1.2
Arkansas  2001      30     2691571         1.1                                      0.8                                      1.6
Arkansas  2002      96     2705927         3.5                                      2.9                                      4.3
Arkansas  2003      98     2724816         3.6                                      2.9                                      4.4
Arkansas  2004     133     2749686         4.8                                        4                                      5.7
Arkansas  2005     127     2781097         4.6                                      3.8                                      5.4
Arkansas  2006     149     2821761         5.3                                      4.4                                      6.1
Arkansas  2007     156     2848650         5.5                                      4.6                                      6.3
Arkansas  2008     210     2874554         7.3                                      6.3                                      8.3
Arkansas  2009     221     2896843         7.6                                      6.6                                      8.6
Arkansas  2010     198     2915918         6.8                                      5.8                                      7.7
Arkansas  2011     176     2937979         6.0                                      5.1                                      6.9
Arkansas  2012     181     2949131         6.1                                      5.2                                        7
Arkansas  2013     175     2959373         5.9                                        5                                      6.8
Arkansas  2014     179     2966369         6.0                                      5.2                                      6.9

In [14]:
def getTopFivePopulatedStates(dataframe: pd.DataFrame, year: int):
    topFive = dataframe[dataframe["Year"] == year].nlargest(5, "Population")
    return topFive

##This can accept any year in the CSV and will return the top 5 states with the highest population
topFive = getTopFivePopulatedStates(deaths, 2014)
print(topFive["State"].to_string(index = False) + "\n")

California
     Texas
   Florida
  New York
  Illinois

In [18]:
topState = topFive["State"].iloc[0]
topFromtopState = deaths[deaths["State"] == topState].nlargest(5, "Deaths")
print(topFromtopState[["Year", "Deaths"]].to_string(index=False) + "\n")

 Year  Deaths
 2014    2159
 2009    2128
 2013    2088
 2010    2059
 2011    2057

### Do the deaths in New York after 9/11 increase immediately after due to health effects?
Compared to the 3 years before the riots

In [32]:
twoYearsBefore = deaths[(deaths["Year"] >= 1999) & (deaths["Year"] < 2001) & (deaths["State"] == "New York")]
twoYearsAfter = deaths[(deaths["Year"] > 2001) & (deaths["Year"] <= 2003) & (deaths["State"] == "New York")]

print("Two Years Before 9/11:", twoYearsBefore["Deaths"].mean())
print("Two Years After 9/11:", twoYearsAfter["Deaths"].mean())

Two Years Before 9/11: 592.5
Two Years After 9/11: 600.0

Conclusion: It looks like there was not a noticable increase to deaths due to 9/11 health effects within this time period.