# Lab Exercises

## Processing Data with Python, Part 2

---

Getting the hard part out of the way, let's import `pandas` and get our data set up.

In [1]:
import pandas as pd

chip = pd.read_csv("chipotle.tsv", sep="\t")
chip.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

---

#### **Exercise 1**

Display a random 10 rows from this Dataframe.

In [4]:
chip.sample(10)

,order_id,quantity,item_name,choice_description,item_price
3273,1311,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Guacamole, ...",11.48
972,399,1,Veggie Burrito,"[Fresh Tomato Salsa (Mild), [Rice, Pinto Beans...",8.49
4562,1814,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",9.25
1632,658,1,Carnitas Crispy Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.75
2338,931,1,Chips,NaN,2.15
3053,1216,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Rice, Faj...",8.49
3179,1271,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), Cheese]",8.49
4224,1686,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
872,360,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",8.75
1817,735,1,Steak Burrito,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.99

#### **Exercise 2**

Calculate the average item price "the hard way," by summing the values in the column and dividing. Just like you did in math class. (Sorry.)

In [36]:



prices = chip["item_price"].values.tolist()
total = 0
for each in prices:
    total += each

print(total / len(prices))

7.464335785374397

#### **Exercise 3**

Now, calculate the mean again, using a pandas function. This is the easy way to do the above.

In [38]:
chip["item_price"].mean()

7.464335785374297

#### **Exercise 4**

How many unique items have people ordered? What I mean by this is how many different things are there recorded for "item names," not how many orders there are in total.

List the items and how many there are. (Hint: The functions for doing those two things differ only by one letter.)

In [46]:
dictionary = {}

list = chip["item_name"].values.tolist()

for x in range (len(list)):
    dictionary[str(list[x])] = 1

print(len(dictionary))

50

#### **Exercise 5**
Using a query mask, create a new dataframe of just the times where more than one item was ordered. In other words, if `quantity > 1`, keep the row. If not, drop the row. 

Then, print the first ten items in the new DataFrame.

In [48]:
new = chip["quantity"] > 1
chip[new].head(10)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
18,9,2,Canned Soda,[Sprite],2.18
51,23,2,Canned Soda,[Mountain Dew],2.18
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",22.50
148,67,2,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",17.98
150,68,2,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",17.50
154,70,2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",17.50
162,73,2,Canned Soda,[Diet Coke],2.18
171,76,2,Canned Soda,[Diet Dr. Pepper],2.18
213,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",22.50

#### **Exercise 6**

Using a query mask and [Pandas string methods](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#string-handling), create a new dataframe of just the times people ordered chips. Print the first five such times.

In [55]:
new = chip["item_name"].str.contains("Chips")
chip[new].head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
6,3,1,Side of Chips,NaN,1.69
10,5,1,Chips and Guacamole,NaN,4.45
14,7,1,Chips and Guacamole,NaN,4.45

#### **Exercise 7**

What's the average item price of our "chips and something" subset?

In [59]:
new = chip["item_name"].str.contains("Chips")
newData = chip[new]
newData["item_price"].mean()

3.482822878228782

#### **Exercise 8**

In this last exercise, you'll be doing our job for us. Check out the [WPRDC website](https://data.wprdc.org/dataset). Spend a few minutes looking through the available datasets, and pick one that you think is cool.

Fill out the following information about it:

**name of the dataset**:  

    Hourly Air Quality Data

link: 

https://data.wprdc.org/dataset/allegheny-county-air-quality/resource/36fb4629-8003-4acc-a1ca-3302778a530d

Who/what submitted this data to the WPRDC? 

    Allegheny County

What information do I need to interpret this data? Is there a data dictionary? Is there any important information about the dataset missing?

    No, I don't think so. 

Why is this data of use to people in Pittsburgh? Could it be useful to anyone else: activists, politicians, researchers, companies? 

    It could be useful to people who have bad lungs or other medical conditions that make them sensitive to poor air quality. 

Can you think of any questions you want to ask of this dataset?

    What is the average air quality and how bad is that number when placed on a scale?

Is this a good dataset, in your opinion?

    Yes. It is extremely long and the sampling rate is short.